<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>sh.amux.supervise</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/someone/.amux/bin/amux</string>
		<string>--config</string>
		<string>/Users/someone/Library/Application Support/amux/config &amp; more.yaml</string>
		<string>supervise</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/bin:/bin</string>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>AbandonProcessGroup</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/Users/someone/.amux/supervisor.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/someone/.amux/supervisor.log</string>
</dict>
</plist>
